import(igraph)
import(bc3net)

export(bioMatrixLegend)                  
export(bioNetCircosPlot)                 
export(bioNetLegend)                     
export(CA_OMICS_ENV)                     
export(CA_OMICS_NA_STRING)               
export(CA_OMICS_NAME)                    
export(convertToZScores)                 
export(drawBioNetNodeBackground)         
export(eraseBioNetNode)                  
export(getBezierCurve)                   
export(getBioMatrixBasePositions)        
export(getBioMatrixColumnPadding)        
export(getBioMatrixDataAreaWidth)        
export(getBioMatrixDataRowTop)           
export(getBioMatrixGeneLabelWidth)       
export(getBioMatrixGeneNumber)           
export(getBioMatrixLegendHeight)         
export(getBioMatrixPhenotypeNumber)      
export(getBioMatrixPlotAreaHeigth)       
export(getBioMatrixPlotAreaWidth)        
export(getBioMatrixRemarkWidth)          
export(getBioMatrixRowPadding)           
export(getBioMatrixSampleHeight)         
export(getBioMatrixSampleIDHeight)       
export(getBioMatrixSampleNumber)         
export(getBioMatrixSampleWidth)          
export(getBioNetBasePositions)           
export(getBioNetGraph)                   
export(getBioNetNodeLinkLine)            
export(getBioNetNodePaddingScale)        
export(getBioNetNodeParameters)          
export(getBioNetNodePlotAreaBoundary)    
export(getBioNetNodeRadius)              
export(getBioNetPlotAreaWidth)           
export(getBioNetPlotLocations)           
export(getBioNetPlotSampleWidth)         
export(getBioNetPlotTotalSample)         
export(getBioNetSamplePlotPosition)      
export(getCaOmicsVColors)                
export(getCaOmicsVPlotTypes)             
export(getDefaultNaStrings)              
export(getESet)                          
export(getHeatmapColorScales)            
export(getPlotOmicsData)                 
export(getPlotSampleData)                
export(getPlotSummaryData)               
export(getRelatedPlotData)               
export(initializeBioMatrixPlot)          
export(initializeBioNetCircos)           
export(labelBioNetNodeNames)             
export(linkBioNetNodes)                  
export(linkBioNetSamples)                
export(plotBioMatrix)                    
export(plotBioMatrixBars)                
export(plotBioMatrixBinaryData)          
export(plotBioMatrixCategoryData)        
export(plotBioMatrixHeatmap)             
export(plotBioMatrixRowNames)            
export(plotBioMatrixSampleData)          
export(plotBioMatrixSampleNames)         
export(plotBioNetBars)                   
export(plotBioNetCircos)                 
export(plotBioNetHeatmap)                
export(plotBioNetLines)                  
export(plotBioNetPoints)                 
export(plotBioNetPolygons)               
export(plotHeatmapColorScale)             
export(setBioMatrixPlotArea)             
export(setBioNetNodeLayout)              
export(setBioNetPlotAreaBackground)      
export(setCaOmicsVColors)                
export(setDefaultNaStrings)              
export(showBioMatrixPlotLayout)          
export(showBioNetNodesLayout)            
export(showSupportedBioNetCircosPlotType)
export(sortClinicalData)                 
export(sortOmicsDataByColumn)            
export(sortOmicsDataByRow) 